:root {
  --theme-lpink: #f4bed4;
  --theme-hpink: #e878a5;
  --theme-hpurple: #793971;
  --theme-bg-hpurple: hsl(308deg 36% 35% / 60%);
}

html,body {
  background: linear-gradient(175deg, var(--theme-hpink) 3%, #f4bed400 30%), linear-gradient(-5deg, var(--theme-hpink) 3%, var(--theme-lpink) 30%);
  font-size: 18px;
  font-family: 'Montserrat', sans-serif !important;
}

li {
  list-style: none;
}

body {
  margin: 0;
    
  background-color: inherit;

  color: white;
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 998px) {
  .container {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

.loader-cont {
  margin-left: 50px;
}

.loader {
  border: 16px solid rgb(56, 4, 4); /* Light grey */
  border-top-color: rgb(151, 5, 5);
  border-bottom-color: rgb(151, 5, 5);
  border-radius: 50%;
  
  width: 120px;
  height: 120px;
}



.gear {
  animation: gear 5s linear infinite;
}

section span,
section strong,
section h1,
section h2,
section li{
  transition: all 1s ease;
  -webkit-transition-delay: all 1s ease;
  -moz-transition-delay: all 1s ease;
  -ms-transition-delay: all 1s ease;
  -o-transition-delay: all 1s ease;
}

@keyframes gear {
  0% {
    transform:rotate(360deg);
  }
  
  66% {
    transform:rotate(0);
  }
}

.extra-info {
  border-left: 1px solid white;
}

.active-route .script-nav {
  transition: all 0.3s;
  color: var(--theme-red);
  text-decoration: underline var(--theme-white) 1px;
  text-underline-offset: 0.3rem;
}

.active-route .script-nav:hover {
  color: var(--theme-white);
  text-decoration: underline var(--theme-red) 1px;
}

.card-image-skeleton {
    width: 100%;
    aspect-ratio: 1.5;
    background-color: gray;
    border-radius: 10px;
    -webkit-filter: brightness(90%);
    filter: brightness(90%);
    background-size: cover;
    position: relative;
}

.dropdown-up-download {
  background-color: white;
  margin: 0 0 0 -2rem !important;
}

.dropdown-up-download *:hover {
  background-color: #e9ecef;
}